html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
}

.page div {
	position: absolute;
}

#page-0 .bg {
	width: 100%;
	height: 100%;
	background-image: url('images/page-0/bg.jpg');
}
