#page-3 .bg {
	width: 100%;
	height: 100%;
	background-image: url('images/page-3/background.png');
	display:fixed;
}
#page-3 #item1 {
	top: 162px;
	left: 988px;
	height: 192px;
	width: 127px;
	background-image: url('images/page-3/item1.png');	
	display: none;
}
#page-3 #item2 {
	top: 16px;
	left: 1402px;
	height: 253px;
	width: 253px;
	background-image: url('images/page-3/item2.png');	
	display: none;
}
#page-3 #item3 {
	top: 144px;
	left: 700px;
	height: 253px;
	width: 253px;
	background-image: url('images/page-3/item3.png');	
	display: none;
}
#page-3 #item4 {
	top: 36px;
	left: 1088px;
	height: 354px;
	width: 148px;
	background-image: url('images/page-3/item4.png');	
	display: none;
}

#page-3 #planet {
	top: 356px;
	left: 100px;
	height: 106px;
	width: 102px;
	background-image: url('images/page-3/planet.png');	
}	
#page-3 .prince2{
	top: 110px;
	left: 950px;
	height: 253px;
	width: 253px;

}
#page-3 #prince {
	top: 110px;
	left: 950px;
	height: 253px;
	width: 253px;
	background-image: url('images/page-3/prince.png');	
	display: none;
}

#page-3 #star {
	background-image: url('images/page-3/star.png');	
	display: none;
}
#page-3 .bird{
	top:300px;
	left:1100px;
	height:100px;
	width:100px;
	background-color:red;
}
#page-3 .typo{
	top: 400px;
	left: 200px;
	height:300px;
	width:500px;
	background-color: blue;
}
#page-3.text {
	top: 500px;
	left: 200px;
	font-size: 50px;
}
